body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.logo h1{
    margin-top: 30px;
}

.nav h1{

    margin-top: 70px ;
}

header{
    height: 60vh;
    background-color: rgb(29, 56, 53)  ;
    padding: 20px;
    border-bottom: 3px solid red;
}

section{
    max-width: 1600px ;
    margin-left: auto;
    margin-right: auto ;
    background-color: rgba(176, 179, 22, 0.8) ;
    padding: 30px;
    display: flex;
    text-align: center;
    margin-top: 70px;
    
    

}

div{
     background-color: aqua;
     padding-top: 20px;


}

.logo img{
    max-width: 80px;
}

.nav{
    align-items: center;
}


.menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
    
}

.menu li{
    font-size: 20px;
    text-transform: uppercase;
    
    
    

}

.menu li a{
    text-decoration: none;
    
}

.banner{
        
            
        max-width: 90%;
        padding: 0;
        object-fit: cover;
        
        
        

    
}